@keyframes moveAnimation {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.hero-card {
    animation: moveAnimation 3s infinite;
    /* Menggunakan animasi moveAnimation selama 3 detik dan mengulanginya secara tak terbatas */
}